body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: xx-large;
    background-color: #883607;
    color: #333;
}

header {
    background-color: #470606;
    padding: 5px;
    text-align: center ;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 500;
}

section {
    padding: 60px;
    text-align: center;
    width: 70%;
    margin: 0 auto;

}

h1 {
    color: #ff8533;
    font-family: 'Alex Brush', cursive;
}

p1 {
    line-height: 1.6;
    color: #420303;
    font-family: 'Kalam', cursive;
font-family: 'Moon Dance', cursive;
text-align: center;
font-weight: 900;
margin-bottom: 10px !important;
    display: block !important;
}
p2 {
    line-height: 1.6;
    color: #420303;
    font-family: 'Kalam', cursive;
font-family: 'Moon Dance', cursive;
text-align: center;
font-weight: 900;
margin-bottom: 10px !important;
    display: block !important;
}
p3 {
    line-height: 1.6;
    color: #420303;
    font-family: 'Kalam', cursive;
font-family: 'Moon Dance', cursive;
text-align: center ;
font-weight: 900;
margin-bottom: 10px !important;
    display: block !important;
}
p4 {
    line-height: 1.6;
    color: #420303;
    font-family: 'Kalam', cursive;
font-family: 'Moon Dance', cursive;
text-align: justify;
font-weight: 900;
margin-bottom: 10px !important;
    display: block !important;
}
p5 {
    line-height: 1.6;
    color:  #420303;
    font-family: 'Kalam', cursive;
font-family: 'Moon Dance', cursive;
text-align: justify;
font-weight: 900;
margin-bottom: 10px !important;
    display: block !important;
}
p6 {
    line-height: 1.6;
    color: #420303;
    font-family: 'Kalam', cursive;
font-family: 'Moon Dance', cursive;
text-align: center;
font-weight: 900;
margin-bottom: 10px !important;
    display: block !important;
}
p7 {
    line-height: 1.6;
    color: #420303;
    font-family: 'Kalam', cursive;
font-family: 'Moon Dance', cursive;
text-align: center;
font-weight: 900;
margin-bottom: 10px !important;
    display: block !important;
}
p8 {
    line-height: 1.6;
    color: #420303;
    font-family: 'Kalam', cursive;
font-family: 'Moon Dance', cursive;
text-align: center;
font-weight: 900;
margin-bottom: 10px !important;
    display: block !important;
}
p9 {
    line-height: 1.6;
    color: #420303;
    font-family: 'Kalam', cursive;
font-family: 'Moon Dance', cursive;
text-align: center;
font-weight: 900;
margin-bottom: 10px !important;
    display: block !important;
}
p10 {
    line-height: 1.6;
    color: #420303;
    font-family: 'Kalam', cursive;
font-family: 'Moon Dance', cursive;
text-align: center;
font-weight: 900;
margin-bottom: 10px !important;
    display: block !important;
}
p11 {
    line-height: 1.6;
    color: #420303;
    font-family: 'Kalam', cursive;
font-family: 'Moon Dance', cursive;
text-align: center;
font-weight: 900;
margin-bottom: 10px !important;
    display: block !important;
}



